.toolbareintraege{
    width: 100%;
    min-height: 75px;
    margin: 0px 0px;
    line-height: 6;
}

[scroll] {
    position:fixed;
    top:0;

}

.white{
    background-color: white;
}
.green{
    background-color:#a3e9a4;
}
.yellow{
    background-color: #FFF9C4;
}
.orange{
    background-color: rgba(255,110,64,0.3);
}
.red{
    background-color: rgba(244,67,54,0.5);
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #ff9800;
    color: white;
}

.progress-wrapper{
    position: relative;
}
.progress-wrapper .progressBarText{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}
.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.animate-repeat {
    line-height:30px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
}